<!DOCTYPE html>
<html ng-app="store">
    <head>
        <title>Gems</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>

    <body ng-controller="StoreController as store">
        <header>
            <h1 class="text-center">Flatlander Crafted Gems</h1>
            <h2 class="text-center">an Angular store </h2>
        </header>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="product in store.products">
                <h3> {{product.name}} </h3>
                <em class="pull-right"> {{product.price | currency}} </em>
                <!--<img ng-src="{{product.images[0]}}"/>-->

                <div ng-controller="GalleryController as gallery"  ng-show="product.images.length">
                    <div class="img-wrap">
                        <img ng-src="{{product.images[gallery.current]}}" />
                    </div>
                    <ul class="img-thumbnails clearfix">
                        <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
                            <img ng-src="{{image}}" />
                        </li>
                    </ul>
                </div>

                 <section ng-controller="PanelController as panel">
                    <ul class="nav nav-pills">
                        <li ng-class="{ active:panel.isSelected(1)}">    <a href ng-click="panel.selectTab(1)" style="background-color: #B73370; color: #fff" >Description</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(2)}">
                            <a href ng-click="panel.selectTab(2)" style="background-color: #B73370; color: #fff">Specifications</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(3)}">
                            <a href ng-click="panel.selectTab(3)" style="background-color: #B73370; color: #fff">Reviews</a>
                        </li>
                    </ul>
                    <div class="panel" ng-show= "panel.isSelected(1)">
                        <h4>Description</h4>
                        <p>{{product.description}}</p>
                    </div>
                    <div class="panel" ng-show= "panel.isSelected(2)">
                        <h4>Specifications</h4>
                        <blockquote>Shine: {{product.shine}}</blockquote>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(3)">
                        <ul>
                            <h4>Reviews</h4>
                            <li ng-repeat="review in product.reviews">
                                <blockquote>
                                    <strong>Stars:{{review.stars}}</strong>
                                    {{review.body}}
                                    <cite class="clearfix">by:{{review.author}}</cite>
                                </blockquote>
                            </li>
                        </ul>

                         <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">
                            <blockquote >
                                <strong>{{reviewCtrl.review.stars}} Stars</strong>
                                {{reviewCtrl.review.body}}
                                <cite class="clearfix">by: {{reviewCtrl.review.author}}</cite>
                            </blockquote>

                            <h4>Submit a Review</h4>
                            <fieldset class="form-group">
                                <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                                    <option value>Rate the Product</option>
                                </select>
                            </fieldset>

                            <fieldset class="form-group">
                                <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
                            </fieldset>
                              
                            <fieldset class="form-group">
                                <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jack@example.org" title="Email" />
                            </fieldset>
                              
                            <fieldset class="form-group">
                                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" style="background: #B73370" />
                            </fieldset>
                        </form>
                    </div>
                </section>
            </li>
        </ul>


        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>